{%- if versioned_file -%}
{%- set filename = name ~ "-{version}-{arch}" -%}
{%- else -%}
{%- set filename = name ~ "-{arch}" -%}
{%- endif -%}
name = "{{name}}"
type = "cli"

[resolve]
git-url = "https://github.com/{{repo}}"

[platform.linux]
archive-prefix = "{{filename}}-unknown-linux-{libc}"
download-file = "{{filename}}-unknown-linux-{libc}.tar.gz"
checksum-file = "{{filename}}-unknown-linux-{libc}.tar.gz.sha256"

[platform.macos]
archive-prefix = "{{filename}}-apple-darwin"
download-file = "{{filename}}-apple-darwin.tar.gz"
checksum-file = "{{filename}}-apple-darwin.tar.gz.sha256"

[platform.windows]
archive-prefix = "{{filename}}-pc-windows-msvc"
download-file = "{{filename}}-pc-windows-msvc.zip"
checksum-file = "{{filename}}-pc-windows-msvc.zip.sha256"

[install]
{% if v_tagged_release -%}
download-url = "https://github.com/{{repo}}/releases/download/v{version}/{download_file}"
checksum-url = "https://github.com/{{repo}}/releases/download/v{version}/{checksum_file}"
{%- else -%}
download-url = "https://github.com/{{repo}}/releases/download/{version}/{download_file}"
checksum-url = "https://github.com/{{repo}}/releases/download/{version}/{checksum_file}"
{%- endif %}

[install.arch]
x86 = "i686"
